/* CSS para Localización (style.css) */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    background-color: #3b5998;
    color: white;
}

.header h2 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.header button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.localizations {
    margin: 20px;
}

.localizations h2 {
    text-align: center;
    margin-bottom: 20px;
}

#localizationTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

#localizationTable th, #localizationTable td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd; /* Borde alrededor de las celdas */
}

#localizationTable th {
    background-color: #d7d6d6;
    color: rgb(0, 0, 0);
}

#localizationTable tbody tr:hover {
    background-color: #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
}

.form-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button[type="submit"],
button[type="button"],
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3b5998;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover,
.btn:hover {
    background-color: #2a4373;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #d32f2f;
}
